<%- include("../commom/header")%>

    <%- include("../commom/menu")%>

   <main>
       <div class="bg-light p-5 mb-4">
           <div class="container text-center">
               <h1> <%= noticia.titulo %> </h1>
           </div>
       </div>

       <div class="container">
           <div class="row d-flex justify-content-center">
               <div class="col-12">
                   <p>
                       <small>
                           <%= noticia.data_criacao.toLocaleString('pt-BR') 
                                                   .split(' ')
                                                   .join(' às ')
                           %>
                       </small>
                   </p>
                   <hr>
                   <p>
                       <%= noticia.conteudo %>
                   </p>
               </div>
           </div>
       </div>
   </main>

   <%- include("../commom/footer")%>